{% extends 'base.html' %}
{% block title %}Update Your Profile{% endblock %}

{% block content %}
  <section class="hero">
    <h1>Update Your Profile</h1>
    <p>Change your profile picture and tell us about yourself.</p>
  </section>
  <div class="notice-form-container">
    {% if messages %}
      {% for message in messages %}
        <p class="profile-success-message">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      
      <div class="form-field">
        {{ form.bio.label_tag }}
        {{ form.bio }}
      </div>

      <div class="form-field">
        {{ form.image.label_tag }}
        
        {# This is the standard file input #}
        {{ form.image }}
        
        {# This checks if the image field has a "clear" option #}
        {% if form.image.field.widget.template_name == 'django/forms/widgets/clearable_file_input.html' %}
          <div class="clearable-file-input">
            <label for="{{ form.image.clear_checkbox_id }}">
              {{ form.image.clear_checkbox_label }}
            </label>
            {{ form.image.clear }}
          </div>
        {% endif %}
      </div>
      <button type="submit" class="auth-button">Save Changes</button>
    </form>
  </div>
{% endblock %}